# Ignore everything unnecessary
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/
env/
.DS_Store
Thumbs.db

# Ignore datasets (you will use a download script)
*.csv

# Track all models folder
!models/**
